#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
body {
	background-color: #8cff80;
}
.main {
	margin-top: 5.5rem;
	margin-left: 3rem;
	margin-right: 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
